.books-list>a {
    color: inherit;
    text-decoration: none;
}

.book-card-img {
    width: 100%;
    height: auto;
    min-height: 500px;

    background-color: dimgray;
}

.book-card-img.not-available {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-not-available {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}