ul.books-list {
    list-style-type: none;
    padding-inline-start: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}