/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../university-of-texas-austin.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: white;

}

#search {
    width: 100%;
    max-width: 350px;
    border: 2px solid #bf5700;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

#search:focus {
    box-shadow: 0 0 3px 4px #333;
}